body {
    margin:auto;
    background-image:url(background.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-family: monospace;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h6 {
    font-family: monospace;
    margin-top: 40px;
    text-align: center;
    width: 420px;
}

.content {
    width: 420px;
    margin: 50px auto;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: 50px auto;
}
#cell1, #cell2, #cell3, #cell4, #cell5, #cell6, #cell7, #cell8, #cell9 {
    font-family: monospace;
    width: 100px;
    height: 100px;
    border: 1px solid;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: center;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}

#cell1:hover, #cell2:hover, #cell3:hover, #cell4:hover, #cell5:hover, #cell6:hover, #cell7:hover, #cell8:hover, #cell1:hover {
    background-color: transparent;
    color: white;
}

#restartGame {
    display: grid;
    margin: auto;
}

@keyframes bounce { 0% { transform: translateY(0); } 100% { transform: translateY(-10px); } }

@keyframes zoom-in-zoom-out { 0% { transform: scale(1, 1); } 50% { transform: scale(1.03, 1.03); } 100% { transform: scale(1, 1); } }
